{% extends "base.html.twig" %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-2">Bienvenue sur Wild Séries !</h1>
        <h1 class="display-5">On y trouve toutes les séries qui font envie !</p>
        <img src="{{ asset('build/image-tv.jpg') }}" alt=""/>
    </div>
</div>
{% endblock %}